h1,
h2,
a,
p {
  font-family: "Roboto Flex", sans-serif;
}

.topoLogin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #a38cd6;
}

.topoLogin div{
    margin-top: 20px;
}

.topoLogin > div,
.menu_icones {
  display: flex;
}

.topoLogin li,
ul {
  height: 30px;
}

.topoLogin ul {
  margin-right: 10px;
}

.topoLogin li {
  margin-right: 5px;
}

hr {
  width: 2px;
  height: 39px;
  background: black;
  border: none;
  margin-top: -4px;
  margin-right: 10px;
}

.topoLogin h1 {
  font-size: 1.5em;
}
