/* ######## CONFIGURAÇÕES GERAIS ######## */
h1,
h2,
p {
  font-family: "Roboto Flex", sans-serif;
}

/* Estilização dos títulos em roxo mais escuro */
h1,
h2 {
  font-size: 8.5em;
  color: #664d9f;
  font-weight: 900;
}

p {
  font-size: 2.5em;
}

/* ######## SESSÕES SOBRE NÓS ######## */

/* Sessão 1 e 2: Estilizações compartilhadas */
.sobre_nos_pt1,
.sobre_nos_pt2 {
  display: flex;
  background: #fff8ed;
}

.sobre_nos_pt1 div,
.sobre_nos_pt2 div {
  margin-top: 250px;
  margin-left: 15%;
  width: 600px;
}

.sobre_nos_pt1 span,
.sobre_nos_pt2 span {
  width: 50%;
}

.sobre_nos_pt1 img,
.sobre_nos_pt2 img {
  width: 100%;
}

/* Estilização específica da Sessão 1 */
.sobre_nos_pt1 div,
.sobre_nos_pt1 span {
  margin-top: 50px;
}

.sobre_nos_pt1 img {
  margin-left: -10px;
}

/* Estilização específica da Sessão 2 */
.sobre_nos_pt2 img {
  margin-left: 64px;
}

/* ######## MARCAS ######## */
.marcas {
  background: #fff8ed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marcas > div:nth-child(1) {
  margin-top: 100px;
}

.marcas div:nth-child(1) h2:nth-child(1) {
  font-size: 6.5em;
  text-align: center;
}

.marcas div:nth-child(1) h2:nth-child(2) {
  text-align: center;
}

.carrosel_Marcas .slick-prev,
.carrosel_Marcas .slick-next {
  display: none !important;
}

.carrosel_Marcas {
  margin-top: 100px;
  width: 95%;
}
