@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

/*|########| CONFIGURAÇÕES GERAIS |########|*/

body {
  font-size: 11px;
  font-family: "Roboto Mono", "Roboto Black", monospace;
  font-weight: 400;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

/*Tamanho maximo do site*/
.site {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/*Cor geral do site*/
main {
  background-color: #FFF8ED;
}

/*|########| MENU SUPERIOR |########|*/

/*Faixa roxa de fora a fora do site*/
.faixa {
  background-color: #a38cd6;
  width: 100%;
}

/*Cor e alinhamento menu superior*/
.menu_superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
}

/*Logo do site*/
.menu_superior h1 {
  width: 228px;
  height: 72px;
  background: url(../img/Logo_Patas_e_pelos.svg) no-repeat;
  text-indent: -9999px;
}

/*Alinhamento e espaçamento dos botões do menu*/
.menu_botoes {
  display: flex;
}

/*Estilização dos botões*/
.menu_botoes a {
  width: 95px;
  background-color: #bfacdd;
  padding: 11px 27px;
  margin-left: 20px;
  border-radius: 20px;
  color: black;
  /*Muda a cor do texto dentro das li*/
  font-size: 14;
}

/*Alinhamento dos icones do menu*/
.menu_icones {
  display: flex;
  margin-left: 10px;
}

.menu_icones a {
  display: flex;
  margin-left: 6px;
}

/*Elipse de contato do menu*/
.menu_superior h2 {
  width: 258px;
  height: 228px;
  background: url(../img/Elipse_telefone.svg) no-repeat;
  text-indent: -9999px;
  margin-top: 96px;
  position: relative;
}

/*|########| AGENDE SEU HORARIO |########|*/

.separacao {
  margin: 20px 0;
}

.agenda {
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}

.agenda h2 {
  width: 438px;
  font-size: 68px;
  color: #a38cd6;
  text-align: center;
  font-weight: 900;
  font-style: normal;
  text-align: left;
}

.agenda p {
  width: 346px;
  color: #000;
  font-size: 23px;
  margin-bottom: 30px;
}

.agenda a {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 900;
  border-radius: 39px;
  background-color: #FF9A5B;
  padding: 6px 32px;
}