@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

/*|########| CONFIGURAÇÕES GERAIS |########|*/

body {
  font-size: 11px;
  font-family: "Roboto Mono", "Roboto Black", monospace;
  font-weight: 400;
}

a,
h1,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1.5em;
}

h2 {
  font-size: 5.4em;
  color: #a38cd6;
  font-weight: 900;
  font-style: normal;
  text-align: left;
}

a {
  color: #fff;
  text-decoration: none;
}

.titulo_roxo {

  font-size: 5em;
  color: #a38cd6;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  margin-left: 20px;
  font-family: "Roboto Flex", sans-serif;
}

.imgbanner,
.agenda,
.categorias,
.tosa,
.sobre,
.visita {
  background-color: #FFF8ED;
}

/*Tamanho maximo do site*/
.site {
  max-width: 1200px;
  /* Largura max de 1200 px */
  width: 100%;
  margin: 0 auto;
}



/*|########| MENU SUPERIOR |########|*/

/*Faixa roxa de fora a fora do site*/
.faixa {
  background-color: #a38cd6;
  width: 100%;
}

/*Cor e alinhamento menu superior*/
.menu_superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
}

/*Logo do site*/
.menu_superior h1 {
  width: 228px;
  height: 72px;
  background: url(../img/menu/Logo_Patas_e_pelos.svg) no-repeat;
  text-indent: -9999px;
}

/*Alinhamento e espaçamento dos botões do menu*/
.menu_botoes {
  display: flex;
}

/*Estilização dos botões*/
.menu_botoes a {
  width: 95px;
  background-color: #bfacdd;
  padding: 11px 27px;
  margin-left: 20px;
  border-radius: 20px;
  color: black;
  /*Muda a cor do texto dentro das li*/
  font-size: 14;
}

/*Alinhamento dos icones do menu*/
.menu_icones {
  display: flex;
  margin-left: 10px;
}

.menu_icones a {
  display: flex;
  margin-left: 6px;
}

/*Elipse de contato do menu*/
.menu_superior h2 {
  width: 258px;
  height: 228px;
  background: url(../img/menu/Elipse_telefone.svg) no-repeat;
  text-indent: -9999px;
  margin-top: 96px;
  position: relative;
}

.imgbanner img {
  width: 1200px;
}

/*|########| AGENDE SEU HORARIO |########|*/

.separacao {
  margin: 20px 0;
}

.agenda {
  display: flex;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}


.agenda p {
  width: 346px;
  color: #000;
  font-size: 23px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 30px;
}

.agenda a {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 26px;
  font-weight: 900;
  border-radius: 39px;
  background-color: #ff9a5b;
  padding: 6px 32px;
}

/*|########| CATEGORIAS |########| */

.categorias {
  font-family: "Roboto Flex", sans-serif;
}

.categorias div,
div:nth-child(2) a {
  display: flex;
  justify-content: center;
}

.categorias div:nth-child(2) ul {
  display: flex;
  justify-content: center;
}

.categorias div:nth-child(2) ul li {
  margin: 25px;
}

/*Config das estrelas*/

#estrela_roxa_superior {
  left: -238px;
  position: relative;
}

#estrela_laranja_superior {
  left: -130px;

  position: relative;
}


#estrela_roxa_inferior {
  left: 486px;
  bottom: -13px;
  position: relative;
}

#estrela_laranja_inferior {
  left: 489px;
  bottom: -65px;
  position: relative;
}

/*|########| TOSA E BANHO |########| */

.tosa {
  display: flex;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}


.tosa h2:nth-child(2) {
  font-size: 3.5em;
  color: #ff9a5b;
  font-weight: 900;
  font-style: normal;
  text-align: left;
}

.tosa p {
  width: 346px;
  color: #000;
  font-size: 23px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.tosa a {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 900;
  border-radius: 39px;
  background-color: #ff9a5b;
  padding: 6px 32px;
}

/*|########| SOBRE |########| */

.sobre {
  display: flex;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}

.sobre h2:nth-child(2) {
  font-size: 3.5em;
  color: #ff9a5b;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  margin-left: 20px;
}

.sobre p {
  width: 346px;
  color: #000;
  font-size: 23px;
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 20px;
}

.sobre a {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 26px;
  font-weight: 900;
  border-radius: 39px;
  background-color: #ff9a5b;
  padding: 6px 32px;
}

.sobre img {
  margin-left: -20px;

}

/*|########| VENHA NOS VISITAR |########| */

.visita {
  display: flex;
}

.visita h2 {
  margin: 35% 22px 0 0;
  text-align: end;
}

.visita p {
  font-family: "Roboto", sans-serif;
  width: 346px;
  color: #000;
  font-size: 23px;

}
