/*######################*/
/*#### 600 até 900 #####*/
/*######################*/

@media (max-width: 900px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }

  .menu_superior h1 {
    display: none;
  }

  .menu_botoes a {
    background-color: #bfacdd;
    padding: 4px 19px;
    margin-left: 5px;
    border-radius: 20px;
    color: black;
  }
  .telefone_contato {
    margin-top: 162px !important;
  }
}
