/*######################*/
/*#### 601 até 900 #####*/
/*######################*/

@media (max-width: 900px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }

  /*-----------------MENU SUPERIOR/*-----------------*/
  .menu_botoes,
  .menu_superior div > a {
    display: none;
  }

  .abrir_menu,
  .fechar_menu {
    background-size: cover;
    padding: 34px;
    border: 0;
    display: block;
    cursor: pointer;
    background: url("../img/menu/menu_hamburguer.svg") no-repeat;
  }

  .menu_icones li {
    width: 50px;
    height: 50px;
  }

  .menu_icones li:nth-child(1) {
    position: relative;
    right: 404%;
    margin-top: 12%;
  }

  .menu_icones li a,
  .menu_icones li img {
    width: 100%;
    height: 100%;
  }

  .menu_superior h1 {
    margin-left: 21%;
  }

  .menu_icones li:nth-child(2) {
    margin: 6% 15% 0 0;
  }

  .menu_lateral {
    border: 0;
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a38cd6c9;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 6px;
  }

  .menu_lateral ul li {
    padding: 7px 0 30px 32px;
    font-size: 1.5em;
    display: block;
    transition: 0.3s;
  }

  .menu_lateral a {
    color: black;
  }

  /*-----------------PAGINA DE CONTATO/*-----------------*/
  .entreEmContato div div img,
  .form > img:nth-child(1) {
    display: none;
  }

  .form > img:nth-child(2) {
    width: 100%;
    margin-top: 180px;
  }

  .form > div {
    top: -1096px;
    margin-left: 3%;
  }

  .formulario {
    width: 673px;
    margin: 0;
    margin-left: 13%;
    display: block;
    height: 824px;
  }

  .formulario > div:nth-child(1),
  .formulario > div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .formulario > div:nth-child(1) {
    height: 227px;
    padding-top: 20px;
  }

  .formulario > div:nth-child(1) div:nth-child(2),
  .formulario > div:nth-child(1) div:nth-child(3) {
    margin-top: 13px;
  }

  .formulario > div:nth-child(1) input {
    width: 537px;
  }
  .formulario > div:nth-child(2) {
    margin-top: 274px;
  }

  .formulario > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    margin-top: -274px;
  }

  .formulario > div:nth-child(2) textarea {
    width: 537px;
    height: 237px;
    position: relative;
  }

  .formulario > div:nth-child(2) div:nth-child(2) {
    margin-top: -15px;
    flex-direction: row;
  }

  .formulario > div:nth-child(2) div:nth-child(2) div {
    flex-direction: row;
    width: 260px;
    z-index: 2;
  }

  .formulario > div:nth-child(1) span {
    top: 259px;
    margin-left: -26px;
  }

  /*-----------------PAGINA SOBRE NOS/*-----------------*/

  /*Sessao 1*/
  .sobre_nos_pt1 h1 {
    font-size: 5.5em;
  }

  .sobre_nos_pt1 h2 {
    font-size: 2.5em;
  }

  .sobre_nos_pt1 div {
    margin-left: 0;
    margin-top: 132px;
  }

  .sobre_nos_pt1 span {
    margin-top: 0;
    width: 100%;
  }

  /*Sessao 2*/
  .sobre_nos_pt2 h2:nth-child(1) {
    font-size: 5.5em;
  }

  .sobre_nos_pt2 h2:nth-child(2) {
    font-size: 2.5em;
  }

  .sobre_nos_pt2 div {
    margin-left: 68px;
    margin-top: 90px;
  }

  .sobre_nos_pt2 span {
    margin-top: 50px;
    width: 100%;
  }

  .sobre_nos_pt2 img {
    margin-left: 0;
  }

  /*marcas*/
  .marcas h2:nth-child(1) {
    font-size: 5.5em;
  }

  .marcas h2:nth-child(2) {
    font-size: 2.5em;
  }
}

/* ######################### */
/* ####   0 atÃ© 600  ##### */
/* ######################### */
@media (max-width: 300px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }

  .menu_superior {
    display: none;
  }
  /*-----------------PAGINA DE CONTATO/*-----------------*/

  .entreEmContato div div h2 {
    font-size: 2.2em;
    width: 300px;
  }
  .formulario {
    width: 215px;
    height: 390px;
    margin-left: 13%;
    top: 735px;
    position: relative;
    border-radius: 19px;
  }

  .formulario > div h2 {
    font-size: 1em;
  }

  .formulario > div:nth-child(1) input {
    width: 180px;
    height: 19px;
    font-size: 0.6em;
  }

  .entreEmContato div div img,
  .form > img:nth-child(1) {
    display: none;
  }

  .formulario > div:nth-child(2) div:nth-child(2) div:nth-child(1),
  .formulario > div:nth-child(2) div:nth-child(2) div:nth-child(2) {
    width: 90px;
    height: 28px;
    margin: 0;
    font-size: 1.3em;
  }

  .formulario > div:nth-child(2) div:nth-child(2) div:nth-child(1) {
    margin-right: 10px;
  }
  .formulario > div:nth-child(2) div:nth-child(1) {
    margin-top: -371px;
  }

  .formulario > div:nth-child(2) textarea {
    width: 184px;
    height: 84px;
    font-size: 0.8em;
  }

  .formulario > div:nth-child(2) div:nth-child(2) {
    margin-top: 11px;
  }

  .formulario > div:nth-child(2) div:nth-child(2) div button,
  .formulario > div:nth-child(2) div:nth-child(2) div input {
    font-size: 0.6em;
  }

  .formulario > div:nth-child(2) div:nth-child(2) div:nth-child(1) img,
  .formulario > div:nth-child(2) div:nth-child(2) div button,
  .formulario > div:nth-child(2) div:nth-child(2) div img {
    height: 26px;
  }

  .formulario > div:nth-child(1) span {
    top: 112px;
    margin-left: -3px;
    height: 134px;
  }

  .formulario > div:nth-child(1) span img {
    width: 215px;
  }

  /*-----------------PAGINA DE SOBRE NOS-----------------*/
  .sobre_nos_pt1,
  .sobre_nos_pt2 {
    width: 300px;
    height: 233px;
  }

  /*Configurações gerais*/
  .sobre_nos_pt1 > span:nth-child(1),
  .sobre_nos_pt2 span:nth-child(3) {
    display: none;
  }

  .sobre_nos_pt1 h1,
  .sobre_nos_pt2 h2:nth-child(1),
  .marcas div h2:nth-child(1) {
    font-size: 2.4em !important;
    text-align: center !important;
  }

  .sobre_nos_pt1 h2,
  .sobre_nos_pt2 h2:nth-child(2),
  .marcas div h2:nth-child(2) {
    font-size: 1.2em;
    text-align: center !important;
  }
  .sobre_nos_pt1 p,
  .sobre_nos_pt2 p {
    font-size: 1em;
    margin-top: 10px;
  }
  /*Fim configurações gerais*/

  /*Parte 1(Cima)*/
  .sobre_nos_pt1 img {
    margin-left: 0;
  }

  .sobre_nos_pt1 > span:nth-child(2) {
    margin-left: 8%;
    width: 41px;
    height: 41px;
  }

  .sobre_nos_pt1 > span:nth-child(3) {
    margin: 58% 0 0 -19%;
    width: 39px;
    height: 42px;
  }

  .sobre_nos_pt1 > span:nth-child(2) img {
    width: 35px;
  }
  .sobre_nos_pt1 > span:nth-child(3) img {
    width: 45px;
  }

  .sobre_nos_pt1 div {
    margin: 38px 0 0 -23px;
    width: 139px;
    position: relative;
    left: 18%;
  }

  .sobre_nos_pt1 > img {
    width: 107px;
    height: 129px;
    position: relative;
    left: 6%;
    top: 112px;
    transform: rotatez(11deg);
  }
  /*Fim parte 1(Cima)*/

  /*Parte 2(Meio)*/
  .sobre_nos_pt2 span:nth-child(1) {
    width: 100px;
    transform: rotateZ(299deg);
  }

  .sobre_nos_pt2 img {
    margin-left: -1px;
    margin-top: 40px;
  }

  .sobre_nos_pt2 div {
    margin: 0;
    width: 139px;
    position: relative;
    left: -6%;
    z-index: 2;
  }

  #mascaraLimpaSobreNos {
    /* margin-top: 482px; */
    position: relative;
    top: -199px;
    left: 50%;
  }
  /*Fim parte 2(Meio)*/

  /*Marcas(Baixo)*/
  .marcas {
    margin-top: -253px;
  }
  .carrosel_Marcas {
    height: 178px;
    width: 80%;
    margin: -89px 0 0 8%;
  }

  .carrosel_Marcas div span {
    margin: 0 35px;
  }

  .carrosel_Marcas div span img {
    width: 50px;
    height: 50px;
  }
  /*Fim marcas(Baixo)*/
}

@media not all and (max-width: 900px) {
  .menu_lateral,
  .abrir_menu,
  .tosa img:nth-child(2) {
    display: none;
  }
}

@media not all and (max-width: 300px) {
  .form > img:nth-child(2),
  .sobre_nos_pt1 > img,
  .sobre_nos_pt2 > span:nth-child(1),
  .sobre_nos_pt1 > span:nth-child(2),
  .sobre_nos_pt1 > span:nth-child(3),
  .sobre_nos_pt1 > span:nth-child(5),
  #mascaraLimpaSobreNos {
    display: none;
  }
}
