/*######################*/
/*#### 600 até 900 #####*/
/*######################*/

@media (max-width: 900px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }

  .menu_superior {

  }
  

  .abrir-menu {
    width: 34px;
    height: 34px;
    background: url(img\menu_hamburguer.svg) no-repeat;
    text-indent: -9999px;
  }

  /*Menu superior*/
  .menu_botoes,
  .menu_superior h2 {
    display: none;
  }
}
@media not all and (max-width: 600px) {
  .abrir-menu,
  .fechar-menu {
    display: none;
  }
}
