/*A classe opcoes é a responsavel por abrigar o botão de adicionar e o de filtrar os itens da categoria*/
.opcoes {
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
}

/*Botão adicionar*/
.opcoes a {
  width: 131px;
  margin-left: 4%;
  text-align: center;
  font-size: 2em;
  background: #ff9a5b;
}

/*Filtragem*/
.opcoes select {
  margin-right: 4%;
  width: 234px;
  font-size: 2em;
  text-align: center;
}

/*CaixaBanner é a classe de cada div dos banners, dentro dela temos a imagem do banner, o nome e um botão para ativar e desativar o mesmo*/
#caixaBanner {
  display: flex;
  background-color: #a38cd6;
  border-radius: 50px;
  margin: 20px 2.5%;
}

/*Onde é exibido o banner*/
#caixaBanner > span {
  background: #665098;
  border-radius: 50px;
  margin: 2%;
}

/*imagem do banner*/
#imgBanner {
  width: 950px;
}

/*Id responsavel por abrigar o nome e o botão para ativar/desativar*/
#identificacaoEFuncaoBanner {
  width: 24%;
  margin: 2% 2% 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*Nome do banner*/
#identificacaoEFuncaoBanner h2 {
  color: white;
  font-size: 3.5em;
  text-align: center;
}

/*botão ativar e desativar*/

.botaoAtivar {
  margin-bottom: 11%;
  width: 95%;
  height: 18%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2.5em;
  font-weight: 900;
  background: #a2ec88;
}

.botaoDesativar {
  margin-bottom: 11%;
  width: 95%;
  height: 18%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2.5em;
  font-weight: 900;
  background: #f65d5d;
}
